/* 
    Created on : 25.12.2015, 14:03:14
    Author     : <a href="mailto:batov.konstantin@yandex.ru">Konstantin Alexandrovich Batov</a>
*/
	body{ margin: 0px; padding: 0px; width: 90%; height: 90%; position: absolute; left: 5%; }
	#url{ width: 70%; }
	main{ width: available; height: 60%; position: relative; overflow-y: auto;}
	#console{ font-size: 11px; background-color: #666; color:white; height: 25%; border: 1px solid black; position: relative; overflow-y: auto; margin:0px; padding: 0px; }
	


